.navbar {
  background-color: #39a0ed !important;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.navbar-brand {
  color: white !important;
  font-family: "Hammersmith One", sans-serif;
  font-size: 30px;
  /* text-shadow: 2px 2px rgba(0, 0, 0, .3); */
}

.nav-link {
  color: white !important;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

body {
  background-color: rgb(250, 235, 215);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%2339a0ed' fill-opacity='0.21' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  font-family: "Abel", sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.jumbotron {
  background-color: rgba(119, 196, 184, 0.8);
  color: black;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(10, 35, 66, 0.8);
  box-shadow: 3px 0 4px 3px rgba(0, 0, 0, 0.2);
}

.footer-copyright {
  color: white;
}

.footer-copyright-link {
  color: rgba(119, 196, 184, 1);
}

input.form-control {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

button.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

a.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card {
  background-color: rgb(250, 255, 255, 0.9);
}

.card .card-header {
  background-color: rgba(57, 67, 183, 0.8);
  font-size: 30px;
}

.card .card-footer {
  background-color: rgb(250, 255, 255, 0.9);
}

/* login page */
.reglink {
  font-size: 15px;
}